<!-- Login form -->
<h1>Login</h1>
<%= form_for(:session, url: api_signin_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in", class: "" %>
<% end %>

<h1>Logout</h1>
<%= button_to "Sign out", api_signout_path, :method => :delete %>
