<div class="m-m-wrapper log-sign">
  <div class="m-m-overlay"></div>
  <div class="m-m-container signup shadow4lv1 fs18 cf"   >
    <div class="m-m-title font-d  fl column-38 ml40 "> 
      <a href="#" class="bg-logo s-logo3 asblock mt10 fr"></a>
      <p class=" fs24 color-grey2 mt20 font-c fs-ita fr" >
        Share, read and discuss <br /> academic papers in group
      </p>
    </div>
    <div class="m-m-content font-d fr column-50" style="margin-top: 18px;">
      <p class="font-d fs24 fs-ita color-grey3">Create an acount</p>
 
      <%= form_for(:user, 
                   :url => "/api/users", 
                   :html => { :class => "font-d  fs16 color-grey2 mt20" } ) do |f| %>
        <%= f.text_field :fullname, :class => "m-f-input mb20 column-62", 
                         :placeholder => "Fullname", :size => nil  %>
        <span class="inblock fs13 ml30 "></span>

        <%= f.email_field :email, :class => "m-f-input mb20 column-62 input-green", 
                                  :placeholder => "Email" %>
        <span class="inblock fs13 ml30"></span>

        <%= f.password_field :password, :class => "m-f-input column-62 input-red",
                                        :placeholder => "Password" %>
        <span class="inbliock fs13 ml30"></span>
        <p class="column-62">
          <%= f.submit :submit, 
            :class => " font-d asblock fr color-grey3 fw-bold inblock mt30 fs18 blue-hover",
            :style => "border:none; background-color: transparent;",
            :value => "Create account" %>
        </p>
        <% if @invitation_token %>
          <div style="margin:0;padding:0;display:inline;">
            <input name="invitation_token" type="hidden" 
                   value="<%= @invitation_token %>">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
